.btn{
  @media (min-width: 426px){
    padding: .6rem 1rem;
  }
  border-radius: 100vmax;
  background: $main;
  color: #fff;
  font-weight: 500;
  transition: $transition;
  padding: .75rem 1.25rem;
  &:hover{
    background: lighten($main, 10);
  }
}