.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main;
  border-radius: 0.25rem;
  font-weight: 700;
  color: #fff;
  background: $primary;
  padding: 1rem 2rem;
  &.outline{
    background: none;
    color: $main;
    border: .0625rem solid #a3a3a3;
  }
}

a.contact{
  @media (min-width: 426px){
    padding: .6rem .8rem;
  }
  border-radius: 100vmax;
  background: $main;
  color: #fff;
  transition: $transition;
  padding: .75rem 1rem;
  &:hover{
    background: lighten($main, 10);
  }
}