body{
  font-family: "Archivo", sans-serif;
}


ul{
  list-style: none;
}


a{
  text-decoration: none;
  color: $main;
}

.logo, h1, h2, h3, h4, h5, h6{
  font-family: "Rubik", sans-serif;
}
h1{
  font-size: 1.625rem;
}
.title{
  text-align: center;
  line-height: 2.14;
  padding-top: 9rem;
  padding-bottom: 9rem;
  // @media (max-width: 426px){
  //   
  // }
  @media (min-width: 426px){
    grid-column: 3/1;
    // padding-top: 2rem;
    // padding-bottom: 1rem;
  }
}

p{
  color: $text;
  line-height: 1.625;
}