footer{
  & > .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .0625rem solid rgb(#000, .1);
    padding: 2rem 0;
    margin-top: 3rem;
  }

  .languages{
    position: relative;

    input[type=checkbox]{
      position: absolute;
      opacity: 0;
      pointer-events: none;
      &:checked{
        ~ .list{
          opacity: 1;
          visibility: visible;
        }
        ~ label{
          background: #F7F7F7;
        }
      }
    }
  
    label{
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: .25rem;
      border-radius: .2rem;
      padding: .6rem .8rem;
      margin-left: -0.8rem;
      &:hover{
        background: #F7F7F7;
      }
      ion-icon{
        --ionicon-stroke-width: 2.7rem;
      }
      span{
        font-weight: 600;
      }
      img{
        width: .5rem;
      }
    }

    .list{
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: 100%;
      left: 10%;
      background: #fff;
      border: .0625rem solid rgb(#000, 0.1);
      border-radius: .32rem;
      transition: $transition;
      padding: .25rem;
      a{
        display: block;
        min-width: 12rem;
        border-radius: .07rem;
        padding: .32rem .5rem;
        &:hover{
          background: #F7F7F7;
        }
        div{
          white-space: nowrap;
          line-height: 1.5;
          &:nth-child(1){
            font-weight: 600;
          }
          &:nth-child(2){
            color: $text;
          }
        }
      }
    }
  }

  .links{
    display: flex;
    gap: 1rem;
    a{
      display: flex;
      align-items: center;
    }
    img{
      width: 1rem;
    }
  }
}