header{
  position: relative;
  z-index: 999;
  background: #fff;
  position: fixed;
  top: 0;
  @media (min-width: 426px){
    left: 50%;
    transform: translateX(-50%);
  }

  & > .wrapper{
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid transparent;
    transition: $transition;
    padding: .5rem 0;

    
    // vertically center
    & > *{
      display: flex;
      align-items: center;
    }


    input{ display: none; }


    .logo{
      padding-left: .75rem;
      padding-right: .75rem;
      margin-left: -0.75rem;
      margin-right: auto;
    }
  

    nav{
      @media (max-width: 426px){
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        background: #fff;
        width: 100%;
        height: stretch;
        transition: $transition;
      }
      ul{
        @media (max-width: 426px){
          padding: var(--wrapper-padding);
        }
        @media (min-width: 426px){
          display: flex;
        }
        li{
          display: flex;
          justify-content: center;
          a{
            padding: .75rem;
            @media (min-width: 426px){
              &:hover{
                // border-bottom: .125rem solid $text;
                // margin-bottom: -0.125rem;
                // border-radius: .1rem;
                transition: $transition;
              }
            }
          }
        }
      }
    }
    input:checked ~ nav{
      visibility: visible;
      opacity: 1;
    }
  

    .lang-switch{
      @media (max-width: 426px){
        visibility: hidden;
        opacity: 0;
      }
      font-size: .7rem;
      font-weight: 600;
      transition: $transition;
      padding-left: .75rem;
      padding-right: .75rem;
      span{
        color: #bcbcbc;
      }
    }
    input:checked ~ .lang-switch{
      visibility: visible;
      opacity: 1;
    }
  

    label{
      @media (min-width: 426px){
        display: none;
      }
      cursor: pointer;
      width: 48px;
      height: 48px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 12px;
      margin-right: -12px;
      &::before, &::after{
        content: '';
        width: 18px;
        height: 2.4px;
        background: $main;
        transition: $transition;
      }
      &::before{ margin-bottom: 6px; }
    }
    input:checked ~ label{
      &::before{ margin-bottom: -2px; transform: rotate(45deg); }
      &::after{ transform: rotate(-45deg); }
    }
  }
}