  header{
    position: relative;
    z-index: 999;
    background: #fff;
    position: fixed;
    top: 0;
    @media (min-width: 426px){
      left: 50%;
      transform: translateX(-50%);
    }

    & > .wrapper{
      @media (max-width: 426px){
        padding: .5rem 0;
      }
      @media (min-width: 426px){
        padding: .8rem 0;
      }
      display: flex;
      border-bottom: .0625rem solid transparent;
      transition: $transition;
    }


    input{ display: none; }


    .logo{
      display: flex;
      align-items: center;
      padding-left: .75rem;
      padding-right: .75rem;
      margin-left: -0.75rem;
      margin-right: auto;
    }
  

    ul{
      @media (max-width: 426px){
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        height: stretch;
        background: #fff;
        width: 100%;
        height: stretch;
        flex-flow: column;
        justify-content: center;
        transition: $transition;
      }
      @media (min-width: 426px){
        gap: .2rem;
      }
      display: flex;
      li{
        display: flex;
        justify-content: center;
        white-space: nowrap;
        a{
          @media (min-width: 426px){
            padding: .6rem .8rem;
          }
          display: flex;
          align-items: center;
          padding: .75rem 1rem;
          &.contact-btn{
            @media (max-width: 426px){
              margin-top: .3rem;
            }
            @media (min-width: 426px){
              margin-left: .5rem;
            }
          }
        }
        &.lang a{
          ion-icon{
            &:nth-child(2){
              font-size: .5rem;
            }
          }
          @media (max-width: 426px){
            position: absolute;
            bottom: calc(var(--wrapper-padding) - 0.75rem);
            right: calc(var(--wrapper-padding) - 0.75rem);
          }
        }
      }
    }
    input:checked ~ ul{
      visibility: visible;
      opacity: 1;
    }
  

    label{
      @media (min-width: 426px){
        display: none;
      }
      cursor: pointer;
      width: 48px;
      height: 48px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 12px;
      margin-right: -12px;
      &::before, &::after{
        content: '';
        width: 18px;
        height: 2.4px;
        background: $main;
        transition: $transition;
      }
      &::before{ margin-bottom: 6px; }
    }
    input:checked ~ label{
      &::before{ margin-bottom: -2px; transform: rotate(45deg); }
      &::after{ transform: rotate(-45deg); }
    }
  }