section.hero{
  @media (max-width: 426px){
    padding-top: 1.5rem;
  }
  @media (min-width: 426px){
    height: 100vh;
    display: flex;
    align-items: center;
    gap: 0 2rem;
  }
  
  .pfp{
    @media (max-width: 426px){
      margin-bottom: 2rem;
    }
    width: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%) brightness(135%);
    position: relative;
    z-index: -1;
  }

  p{
    padding-top: .75rem;
    padding-bottom: .5rem;
  }
  a.contact{
    display: inline-block;
    padding: .75rem 1rem;
  }

  .arrow-down{
    @media (max-width: 426px){ display: none; }
    position: absolute;
    bottom: 5%;
    transition: $transition;
    @keyframes arrow_down{
      from{ transform: translate(-50%, -10%); }
      to{ transform: translate(-50%, 10%); }
    }
    animation: 1s arrow_down ease-out alternate infinite;
    left: 50%;
    ion-icon{
      font-size: 2rem;
    }
  }
}