section.works{
  .works{
    @media (min-width: 426px){
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
    }
    display: grid;
    gap: 2.25rem;
    a{
      display: block;
      text-align: center;
      padding-top: .75rem;
      padding-bottom: .75rem;
      margin-top: -0.75rem;
      margin-bottom: -0.75rem;
      .img{
        aspect-ratio: 120/69;
        height: 6.875rem;
        border-radius: .9rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
      }
      h3{
        margin-top: 1.5rem;
      }
      p{
        margin-top: 1rem;
      }
    }
  }

  .btn{
    margin-top: 2.25rem;
  }
}