section.works{
  .works{
    display: grid;
    gap: 2.25rem;
    a{
      display: block;
      text-align: center;
      padding-block: .75rem;
      margin-block: -0.75rem;
      .img{
        aspect-ratio: 120/69;
        height: 6.875rem;
        border-radius: .9rem;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-inline: auto;
        box-shadow: 0 8px 24px rgb(#000, 0.1);
      }
      h3{
        margin-block-start: 1.5rem;
      }
      p{
        margin-block-start: 1rem;
      }
    }
  }

  .btn{
    margin-block-start: 2.25rem;
  }
}