section.works{
  .works{
    @media (min-width: 426px){
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
    }
    display: grid;
    gap: 2.25rem;
    
    a{
      display: flex;
      flex-flow: column;
      border: .0625rem solid #ccc;
      border-radius: 2rem;
      padding: 2rem;
      .img{
        width: 7rem;
        aspect-ratio: 1/1;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: auto;
      }
      p{
        margin-top: .75rem;
      }
    }
  }

  .btn{
    margin-top: 2.25rem;
  }
}