@import "./variables/main";
@import "./ui/main";
@import "./layout/main";
@import "./components/main";
@import "./sections/main";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  cursor: default;
  scroll-behavior: smooth;
}

main{
  padding-block-end: var(--wrapper-padding);
}

::selection{
  background: $primary;
  color: #fff;
}