@import "./variables/imports";
@import "./ui/imports";
@import "./layout/imports";
@import "./components/imports";
@import "./sections/imports";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  cursor: default;
}